* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: grey;
  font-family: 'Fredoka', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  text-align: center;
}

.App p {
  margin-top: 2rem;
  color: #fff;
  font-size: 1.5rem;
  font-weight: 400;
}
